div.container {
    margin-top: 3.5vh;
}
h1 {
    margin: 5vh 0;
}
small.warning {
    margin-left: 1vw;
    color: red;
}
footer {
    margin-top: 20vh;
    font-size: 2vh;
    color: silver;
}
pre.debug {
    color: green;
}
label.dropdown {
    margin-left: 20px;
}
[v-cloak] {
    display: none;
}
