* {
    font-size: 17px;
}
body {
    margin-top: 60px;
}
div.container {
    margin-top: 3.5vh;
}
div.content {
    border-left: solid 1px silver;
    min-height: 700px;
}
h1.result {
    margin-top: 5vh;
}
small.warning {
    margin-left: 1vw;
    color: red;
}
footer {
    margin-top: 20vh;
    font-size: 2vh;
    color: silver;
}
pre.debug {
    color: green;
}
label {
    font-weight: 500;
}
label.header {
    min-width: 100px;
    font-weight: bold;
}
label.dropdown {
    margin-left: 20px;
}
[v-cloak] {
    display: none;
}
